*{


     padding: 10px;
     margin:n 1px;

}

#header{

          margin:auto;
          width:250px;

}

ul ,ol{

        list-style:none;

}


.nav li a {

              background-color: #000;
              color:#fff;
              text-decoration:none;
              padding: 10px 30px;
              display:block;
              border-radius: 40px;
              
}


.nav > li {
                   float:left;

}


.nav li a:hover{

                 background-color:#699666;

}









